@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 241, 243, 243;

  --color-primary-100: 148 164 161;
  --color-primary-110: 94 114 110;
  --color-secondary-100: 226 236 235;
  --color-secondary-100-alpha: 0.8;
  --color-secondary-110: 206 222 220;
  --color-secondary-110-alpha: 0.8;
  --color-base-dark: 12 39 34;
  --color-base-gray: 94 114 110;
  --color-base-black: 12 39 34;
  --color-base-gray40: 148 164 161;
  --color-background: 241 243 243;
}

:root[data-network="mainnet"] {
  --color-primary-100: 17 150 127;
  --color-primary-110: 13 118 100;
  --color-secondary-100: 216 231 229;
  --color-secondary-100-alpha: 1;
  --color-secondary-110: 186 212 209;
  --color-secondary-110-alpha: 1;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
}

@keyframes opacityLoop {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@layer components {
  .remark p {
    @apply text-sm text-gray-700 my-2;
  }
  .remark blockquote p {
    @apply text-base text-primary-100  my-2;
  }
  .remark h4 {
    @apply text-xl text-gray-700 font-bold my-2;
  }
  .remark li {
    @apply my-4;
  }
  .remark strong {
    @apply text-base text-gray-700 font-bold my-2;
  }
  .remark code {
    background-color: rgba(12, 39, 34, 1);
    color: white;
    @apply text-sm font-bold w-full;
  }
  .remark pre {
    background-color: rgba(12, 39, 34, 1);
    color: white;
    border-radius: 5px;
    @apply text-sm font-bold p-2 -mb-2 w-full overflow-x-scroll;
  }

  .word-wrap-break-word {
    word-wrap: break-word;
  }
}
